services:
  ca:
    build:
      context: ./ca
    container_name: ca
    volumes:
      - ./certs:/root/ca/certs
    restart: "no"

  db:
    image: mysql:8.0
    # image: arm64v8/mysql:8.0
    container_name: db
    volumes:
      - ./mysql_datas:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      TZ: ${TIME_ZONE}
      BIND-ADDRESS: 0.0.0.0
    ports:
      - "3306:3306"

  app:
    build:
      context: .
    container_name: app
    depends_on:
      - ca
      - db
    ports:
      - "443:443"
    volumes:
      - ./certs:/usr/app/certs
      - ./src:/usr/app/src
      - ./logs:/usr/app/logs
      - ./.env:/usr/app/.env
      - ./wait-for-services.sh:/usr/app/wait-for-services.sh
    restart: "always"
    entrypoint: ["sh", "/usr/app/wait-for-services.sh"]
    command: ["npm", "start"]

volumes:
  mysql_data:

networks:
  kashidasu-network:
        external: true