body {
  padding: 0px;
  margin: 0px;
  font-family: mplus-regular;
}

header {
  display: flex;
  background-color: rgb(210, 210, 210);
  box-shadow: 0px 5px 5px gray;

  height: 100px;
}

footer {
  margin-top: 50%;
  background-color: rgb(210, 210, 210);
  height: 75px;
}

#copylight {
  display: flex;

  justify-content: center;
  line-height: 75px;
}

#main-content {
  margin-top: 125px;
}

#logo {
  margin-left: 50px;
}

.header-item {
  display: flex;

  width: 120px;
  height: 100px;

  align-items: center;
  justify-content: center;

  margin-left: 65%;
}

.header-item:hover,
.header-item:active {
  background-color: white;
}

#logout {
  color: black;

  text-decoration: none;
  text-align: center;

  font-size: 18px;
}

.container {
  margin-top: 100px;
  text-align: center;
}

.animation-btn {
  background-color: white;

  width: 125px;
  height: 50px;

  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;

  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}

.animation-btn:hover,
.animation-btn:active {
  background-color: rgb(0, 0, 0);
  color: white;
}
