/* Bellow code writing for edit page  */

#edit-form{
    text-align: center;
}

#book-id{
    height: 20px;
}

.edit-submit{
    margin: 15px;
    width: 100px;
    height: 30px;
}

#edit-delete{
    background-color: rgb(251, 64, 64);
    color: white;
    border: none;

    border-radius: 2.5px;
}