body{
    margin: 0px;
    padding: 0px;
}
form{
    font-family: 'mplus-medium';

    width: 370px;
    margin: auto;
    margin-top: 75px;

    padding: 75px;

    border-style: solid;
    border-color: rgb(210, 210, 210);
}
#form-title{
    font-size: 38px;
    text-align: left;
}
.form-container{
    text-align: center;
}
.form-lists{
    list-style: none;
    padding: 0px;
    
    text-align: left;
    display: inline-block;
    margin: auto;
}
.form-list-item{
    margin-bottom: 50px;
}
label{
    font-size: 24px;
}
#admin-id, #admin-password{

    border-style: solid;
    border-color: gray;
    border-radius: 5px;

    width: 350px;
    height: 40px;

    font-size: 14px;

    font-family: 'mplus-medium';
}
#login{
    text-align: left;
}
#login-btn{
    width: 180px;
    height: 60px;

    font-family: 'mplus-medium';
    font-size: 22px;

    border-style: none;
    border-radius: 7.5px;
    background-color: rgb(80, 180, 255);
}

.warn::placeholder{
    color: rgb(252, 70, 70);
}
.warn {
    border-style: solid;
    border-radius: 5px;
}
