body {
  margin: 0px;
  padding: 0px;
  font-family: "mplus-medium";
}
.container {
  display: flex;
  justify-content: center;
}
#top-title {
  position: absolute;
  left: 40%;
}
.site-item {
  width: 150px;
  height: 150px;

  margin-left: 60px;
  margin-right: 60px;
}
#read-code {
  background: url("/images/ReadCode.jpg");
  background-repeat: no-repeat;
  background-size: 150px;
}
#generate-card {
  background: url("/images/GenerateCard.jpg");
  background-repeat: no-repeat;
  background-size: 150px;
}
#register-book {
  background: url("/images/RegisterBook.jpg");
  background-repeat: no-repeat;
  background-size: 150px;
}
#book-list {
  background: url("/images/BookList.jpg");
  background-repeat: no-repeat;
  background-size: 150px;
}
#settings {
  /* background: url('/images/.jpg');
    background-repeat: no-repeat;
    background-size: 150px; */
}
#read-code:hover,
#read-code:active {
  background: url("/images/ReadCode_pushed.jpg");
  background-repeat: no-repeat;
  background-size: 150px;
}
#generate-card:hover,
#generate-card:active {
  background: url("/images/GenerateCard_pushed.jpg");
  background-repeat: no-repeat;
  background-size: 150px;
}
#register-book:hover,
#register-book:active {
  background: url("/images/RegisterBook_pushed.jpg");
  background-repeat: no-repeat;
  background-size: 150px;
}
#book-list:hover,
#book-list:active {
  background: url("/images/BookList_pushed.jpg");
  background-repeat: no-repeat;
  background-size: 150px;
}
#settings:hover {
  border: solid gray 3px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  #top {
    display: block;
  }
  #top-title {
    position: inherit;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  .container {
    margin-top: 50px;
  }
  .animation-btn,
  #top-btn {
    width: 95%;
  }
}
