/* Bellow code writing for registerBook page */

.form-group {
  width: 300px;
  height: 25px;

  margin: auto;
  padding-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: left;
}

#submit-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #667eea;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-item {
  width: 200px;
  height: 25px;
}

.guidance-button {
  width: 150px;
  height: 150px;

  margin-top: 75px;
  margin-left: 75px;
  margin-right: 75px;

  border: solid 3px rgb(188, 188, 188);
}

.guidance-button:hover {
  background-color: rgb(210, 210, 210);
}

.main {
  display: flex;
  justify-content: center;
}

#input-form {
  text-align: center;
}

.form-item {
  width: 175px;
  height: 25px;

  margin-top: 15px;
}

#submit-btn {
  display: block;

  margin: auto;
  margin-top: 15px;

  text-align: center;

  background-color: rgb(130, 200, 255);

  width: 120px;
  height: 40px;

  border-style: none;
  border-radius: 7.5px;
}

#submit-btn:hover {
  background-color: rgb(111, 170, 220);
}

h2 {
  text-align: center;
}

#csv-input {
  display: none;
}
#file-selecter {
  width: 250px;
  height: 100px;

  font-size: 26px;
  border-radius: 10px;

  background-color: white;

  box-shadow: 0px 5px gray;
}

#file-selecter:hover {
  transform: translateY(5px);
  box-shadow: 0px 0px gray;
}

#scanning-registration {
  background: url("/images/scanRegisteraion.png");

  background-repeat: no-repeat;
  background-size: 150px;
}
#scanning-registration:hover {
  background: url("/images/scanRegisteration_hover.png");

  background-repeat: no-repeat;
  background-size: 150px;
}
#collective-registration {
  background: url("/images/csvRegisteration.png");

  background-repeat: no-repeat;
  background-size: 150px;
}
#collective-registration:hover {
  background: url("/images/csvRegisteration_hover.png");

  background-repeat: no-repeat;
  background-size: 150px;
}

/* Tab styles for CollectiveRegister */
.tab-container {
  margin: 20px 0;
}

.tab-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;

  background-color: rgb(130, 200, 255);
  color: black;
  border: none;

  cursor: pointer;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s;
}

.tab-button.active {
  background-color: rgb(130, 200, 255);
  color: white;
  border-color: rgb(130, 200, 255);
}

.tab-content {
  display: none;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 0 5px 5px 5px;
  background: white;
}

.tab-content.active {
  display: block;
}

.text-input-area {
  width: 100%;
  height: 300px;
  font-family: monospace;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

.input-format {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

.input-format h4 {
  margin: 0 0 10px 0;
  color: #333;
}

.input-format code {
  background: #e9ecef;
  padding: 2px 5px;
  border-radius: 3px;
}
