.settings-text{
    border-style: none;
    border-radius: 10px;
    width:  250px;
    height: 35px;
}

.settings-item{
    width: 500px;

    margin: auto;
    text-align: center;

    background-color: rgb(220, 220, 220);
    border-radius: 15px;

    margin-top: 30px;
}

.settings-form-container{
    margin: 20px;
}

.settings-labels{
    margin-right:  15px;
}

#submit{   
    width:  120px;
    height: 40px;

    margin: 15px;

    background-color: rgb(130, 200, 255);
    color: white;

    border-radius: 10px;
    border-style: none;
}