<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>一括登録ページ</title>
    <link rel='stylesheet' href='/styles/Register.css'>
    <link rel='stylesheet' href='/fonts/fonts.css'>
    <meta name='robots' content='noindex' />
    
</head>
<body>
    <script src='/js/jquery-3.7.1.min.js'></script>
    <script src="/js/CollectiveRegister.js"></script>
    <%- include('../Header') %>
    <button class='animation-btn' onclick='location.href = "/register" '>←戻る</button>
        <h2>CSVファイル読み込み登録方式</h2>
        <form method='post'>
            <div id='input-form'>
                <!-- ここに一括登録用のcsvファイルを読み込みボタンを置く -->
                 <input type="file" id="csv-input" accept="text/csv">
                 <input type="button" onclick="SelectFile()" id="file-selecter" value="ファイルを選択">
            </div>
            <input type="button" id="submit-btn" onclick="RegisterBooksByFile()" value="上書き登録">
        </form>
        <h3 id="selected-file-name"></h3>
    <%- include('../Footer') %>
</body>
</html>