<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>読み取りページ</title>

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quagga@0.12.1/dist/quagga.min.js"></script>

    <link rel="stylesheet" href="/styles/ReadCode.css" />
    <link rel="stylesheet" href="/fonts/fonts.css" />
    <meta name="robots" content="noindex" />
    <script>
      const BOOKS_API_KEY = "<%- apiKey %>";
    </script>
  </head>

  <body>
    <%- include('../Header') %>
    <section id="read-qr">
      <div class="buttons">
        <button class="animation-btn" onclick="location.href = '/register'">
          ←戻る
        </button>
      </div>
      <div id="read-view">
        <div id="interactive"></div>
        <canvas class="drawRect"></canvas>
      </div>
    </section>
    <%- include('../Footer') %>
    <input type="text" id="hidden-barcode-input" maxlength="13" />

    <script src="/js/SccaningRegister.js"></script>
  </body>
</html>
