<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>読み取り登録</title>
    <link rel='stylesheet' href='/styles/RegisterBook.css'>
    <link rel='stylesheet' href='/fonts/fonts.css'>
    <meta name='robots' content='noindex' />
</head>
<body>
    <%- include('../Header') %>
    <button class='animation-btn' onclick='location.href = "/register" '>←戻る</button>
        
    <%- include('../Footer') %>
</body>
</html>