<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>カード発行ページ</title>
    <link rel='stylesheet' href='/styles/main.css'>
    <link rel='stylesheet' href='/fonts/fonts.css'>
    <meta name='robots' content='noindex' />
    
</head>
<body>
    <script src='/js/jquery-3.7.1.min.js'></script>
    
    <%- include('header') %>
    <button class='animation-btn' onclick='location.href = "/book-view" '>←戻る</button>
    <div id='main'>
        <form method='post' action='' id='edit-form'>
           <label>本の名前</label> <input type='text' name='bookName'><br>
           <label>本の著者</label> <input type='text' name='writter'><br>
        </form>
    </div>
    <%- include('footer') %>

</body>
</html>