<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Document</title>
    <link rel='stylesheet' href='/styles/Common.css'>
    <link rel='stylesheet' href='/styles/fonts/fonts.css'>
    <meta name='robots' content='noindex' />
</head>
<body>

    <footer>
        <p id='copylight'>©2025 Yasui Yukinobu</p>
    </footer>
    
</body>
</html>