<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>カード発行ページ</title>
    <link rel='stylesheet' href='/styles/GenerateCard.css'>
    <link rel='stylesheet' href='/fonts/fonts.css'>
    <meta name='robots' content='noindex' />
</head>
<body>
    <script src='/js/jquery-3.7.1.min.js'></script>
    <script src='/js/GenerateCard.js'></script>
    
    <%- include('Header') %>

    <div class='top'>
        <button class='animation-btn' onclick='location.href = "/main" '>←戻る</button>
        <button class='animation-btn' onclick='window.location.reload()'>最初から</button>
    </div>
        
    <div class='container'>
        <h1>カード発行ページ</h1>
    </div>

    <form id='genelate-card-form'>
        <label class='form-label'>学籍番号</label><input id='studentId' name='studentId' class='form-txtbox' type='text' required>
        <label class='form-label'>学年</label><input id='gread' name='gread' class='form-txtbox' type='text' required>
        <label class='form-label'>組</label><input id='class' name='class' class='form-txtbox' type='text' required>
        <label class='form-label'>番号</label><input id='number' name='number' class='form-txtbox' type='text' required>
        <input id='form-submit' type='button' value='生成' onclick='SendContent()'>
    </form>
    
    <div id='image'>
    </div>
    <%- include('Footer') %>
</body>
</html>