<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Document</title>
    <link rel='stylesheet' href='/styles/common.css'>
    <link rel='stylesheet' href='/styles/fonts/fonts.css'>
    <meta name='robots' content='noindex' />
</head>
<body>
    <header>
        <img id='logo' width='300' height='100' src='/images/KashidasuLogo.png' alt=''>
        <a class='header-item' id='logout' href='/logout'>ログアウト</a>
    </header>
    
</body>
</html>
