<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログインページ</title>
    
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/main.css">

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/check.js"></script>
    <link rel="stylesheet" href="/fonts/fonts.css">
    <meta name="robots" content="noindex" />
</head>
<body>

    <%- include('header') %>
    
    <form method="post">

        <h1 id="form-title">ログインページ</h1>
        <div class="form-container">
            <ul class="form-lists">
                <li class="form-list-item"><input type="text" name="admin_id" id="admin-id" placeholder="管理者ID" required> </li>
                <li class="form-list-item"><input type="password" name="admin_password" id="admin-password" placeholder="管理者パスワード" required> </li>
            </ul>
        </div>
        <div class="form-container" id="login">
            <input id="login-btn" type="submit" value="ログイン">
        </div>
        
    </form>
    <%- include('footer') %>
</body>
</html>