<!DOCTYPE html>
<html lang='ja'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>読み取りページ</title>
    <script src='/js/jquery-3.7.1.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/quagga@0.12.1/dist/quagga.min.js'></script>

    <link rel='stylesheet' href='/styles/ReadCode.css'>
    <link rel='stylesheet' href='/fonts/fonts.css'>
    <meta name='robots' content='noindex' />
</head>

<body>
    <script src='/js/ReadCode.js'></script>
    <%- include('Header') %>

        <section id='read-qr'>
            <div class='buttons'>
                <button class='animation-btn' onclick='location.href = "/main" '>←戻る</button>
                <button class='animation-btn' onclick='location.reload()'>最初から</button>
                <img src='/images/LendButtonImage.png' id='set-mode-btn' class='lend' onclick='SetReadMode()'>
            </div>

            <div id='read-view'>
                <div id='interactive'></div>
                <canvas class='drawRect'></canvas>
            </div>

        </section>
    <%- include('Footer') %>
</body>

</html>