<!DOCTYPE html>
<html lang='ja'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>蔵書登録ページ</title>
    <link rel='stylesheet' href='/styles/RegisterBook.css'>
    <link rel='stylesheet' href='/fonts/fonts.css'>
    <meta name='robots' content='noindex' />

</head>

<body>
    <script src='/js/jquery-3.7.1.min.js'></script>
    <script src='/js/register.js'></script>
    
    <%- include('Header') %>

    <button class='animation-btn' onclick='location.href = "/main" '>←戻る</button>
    <div class='main'>

        <div class='guidance-button' id="scanning-registration" class='site-item' onclick="location.href = '/scanning-registration'"></div>
        <div class='guidance-button' id="collective-registration" class='site-item' onclick="location.href = '/collective-registration'"></div>

        <!-- <div class='container'>
            <h2>書籍登録</h2>
            <div'>
                <div class='form-group'>
                    <input type='text' class='form-item' id='book-id' name='book-id' required>
                    <label for='ID'>本のID</label>
                </div>
            </div>
        </div> -->
    </div>  
    
    <%- include('Footer') %>

</body>

</html>