<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>蔵書登録ページ</title>
    <link rel='stylesheet' href='/styles/main.css'>
    <link rel='stylesheet' href='/fonts/fonts.css'>
    <meta name='robots' content='noindex' />
    
</head>
<body>
    <script src='/js/jquery-3.7.1.min.js'></script>
    <script src='/js/register.js'></script>
    
    <%- include('header') %>

    <div class='main'>
        <button class='animation-btn' onclick='location.href = "/main" '>←戻る</button>
        <div class='container'>
            <h2>書籍登録</h2>
            <div'>
                <div class='form-group'>
                    <input type='text' class='form-item' id='book-id' name='book-id' required>
                    <label for='ID'>本のID</label>
                </div>
                <div class='form-group'>
                    <input type='text' class='form-item' id='book-name' name='book-name' required>
                    <label for='bookName'>書籍名</label>
                </div>
                <div class='form-group'>
                    <input type='text' class='form-item' id='book-auther' name='book-auther' required>
                    <label for='author'>著者</label>
                </div>
                <input type='button' onclick='updateBookInformation()' id='submit-btn' value='登録'>
            </div>

        </div>
    </div>  
    
    <%- include('footer') %>

</body>
</html>