<!DOCTYPE html>
<html lang='ja'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>設定ページ</title>
    <link rel='stylesheet' href='/styles/Settings.css'>
    <link rel='stylesheet' href='/fonts/fonts.css'>
    <meta name='robots' content='noindex' />

</head>

<body>
    <script src='/js/jquery-3.7.1.min.js'></script>
    <script src='/js/Settings.js'></script>

    <%- include('Header') %>
    <button class='animation-btn' onclick='location.href = "/main" '>←戻る</button>
    <div class="main">
        <form class="settings-item">
            <h2>図書委員設定</h2>
            <div class="settings-form-container">
                <h3>ユーザー情報編集</h3>
                <label class="settings-labels">姓</label>
                <input class="settings-text" type="text" id="last-name">
            </div>
            <div class="settings-form-container">
                <label class="settings-labels">名</label>
                <input class="settings-text" type="text" id="first-name">
            </div>
            <Button onclick="ApplySettings()" id="submit">変更</Button>
        </form>
        <div class="settings-item">
            <h3></h3>
        </div>
    </div>
    <%- include('Footer') %>
</body>