<!DOCTYPE html>
<html lang='ja'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>蔵書登録ページ</title>
    <link rel='stylesheet' href='/styles/Settings.css'>
    <link rel='stylesheet' href='/fonts/fonts.css'>
    <meta name='robots' content='noindex' />
</head>

<body>
    <script src='/js/jquery-3.7.1.min.js'></script>
    <script src='/js/Settings.js'></script>
    
    <%- include('Header') %>
    
    <button class='animation-btn' onclick='location.href = "/main" '>←戻る</button>

    <div class="main" style="display: block; text-align: center;">
        <h1>設定画面</h1>

        <section>
             <h3>アカウント設定</h3>
            <form method="post">
                <div class="form-block">
                    <ul>
                        <li><label>ID</label><input id="user-id" type="text" class="form-textbox"></li>
                        <li><label>パスワード</label><input id="user-password" type="text" class="form-textbox"></li>
                    </ul>
                </div>
                <input type="button" onclick="ApplySettings()" value="submit">
            </form>
    </div>

    <%- include('Footer') %>

</body>

</html>
