<!DOCTYPE html>
<html lang='ja'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>設定ページ</title>
    <link rel='stylesheet' href='/styles/Settings.css'>
    <link rel='stylesheet' href='/fonts/fonts.css'>
    <meta name='robots' content='noindex' />

</head>

<body>
    <script src='/js/jquery-3.7.1.min.js'></script>
    <!-- <script src='/js/Settings.js'></script> -->
    
    <%- include('Header') %>

    <button class='animation-btn' onclick='location.href = "/main" '>←戻る</button>
    <div class='main'>

        <!-- アカウントのセットアップ -->

    </div>  
    
    <%- include('Footer') %>

</body>

=======
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>蔵書情報編集ページ</title>
    <link rel='stylesheet' href='/styles/EditBook.css'>
    <link rel='stylesheet' href='/fonts/fonts.css'>
    <meta name='robots' content='noindex' />
    
</head>
<body>
    <script src='/js/jquery-3.7.1.min.js'></script>
    <script src='/js/Settings.js'></script>
    
    <%- include('Header') %>
    <button class='animation-btn' onclick='location.href = "/book-list" '>←戻る</button>
    <div id='main'>
        
    </div>
    <%- include('Footer') %>

</body>
</html>